<!DOCTYPE html>
<html>
<body>
    <form action='/result' method='post'>
        Name:<input type='text' name='name'><br />
        Dojo location:<select name='location'>
            <option>Mountain View</option>
            <option>Seatle, Wa</option>
        </select><br />
        Favourite Language:<select name='f_lang'>
            <option>Js</option>
            <option>Python</option>
            <option>Java</option>
        </select><br />
        Comment(optional):<input type='text' name='comment'><br />
        <button>Add User</button><br />
    </form>
</body>
</html>
