<!DOCTYPE html>
<html>
<body>
    <p>Sub Info</p>
    <p>Name: <%= name %></p>
    <p>Dojo Location: <%= location %></p>
    <p>Favourite Language: <%= language %></p>
    <p>Comment: <%= comment %></p>
</body>
</html>
