<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h1>Counter</h1>
    <p><%= how_many_times %>times</p>
    <form action='/plus_two' method='post'>
        <button>+2</button>
    </form>
    <form action='/reset' method='post'>
        <button>reset</button>
    </form>
</body>
</html>
