<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h1>EJS Cats</h1>
    <div>
        <a href="/cuddle"><img src="/images/cat1.jpg"/></a><br />
        <a href="/tom"><img src="/images/cat2.jpg"/></a><br />
        <a href="/kitty"><img src="/images/cat3.jpg"/></a><br />
    <div>
</body>
</html>
