<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h1>Create a new mongoose!</h1>
    <form action='/mongooses' method='post'>
        Mongoose's name:<input type='text' name='name'><br>
        <button>Add it!</button>
    </form>
</body>
</html>
