<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action='/quotes' method='post'>
        Your name:<input type='text' name='name'><br>
        Your quote:<input type='text' name='quote'><br>
        <button>Add my quote!</button>
    </form>
    <form action='/quotes'>
        <button type="submit">Skip to quotes!</button>
    </form>
</body>
</html>
