<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <h1>Rate My Cakes</h1>
    <div id="submit_box">
        <p>Submit a cake to be rated</p>
        <form>
            <p>Baker name:</p><input type="text" name="baker" [(ngModel)]="newCake.baker"/>
            <p>Image url:</p><input type="text" name="img_url" [(ngModel)]="newCake.img_url"/>
            <input (click)="createCake()" type="submit" value="SUBMIT"/>
        </form>
	</div>
	<div id="cakes_rate">
		<form *ngFor="let cake of all_cakes" class="each_cake">
			<img src="{{cake.img_url}}" (click)="displayTheCake(cake._id)"/><br />
			<select [(ngModel)]="comment.star" name="star">
				<option value="5">5 stars</option>
				<option value="4">4 stars</option>
				<option value="3">3 stars</option>
				<option value="2">2 stars</option>
				<option value="1">1 star</option>
			</select><br />
			<input type="text" name="content" [(ngModel)]="comment.content"/><br />
            <input (click)="createComment(cake._id)" type="submit" value="Rate!"/>
		</form>
	</div>
	<form>
		<p>Use name to find cake</p>
		<input type="text" name="theBaker" [(ngModel)]="the_baker"/><br />
		<input (click)="useBakerFindCake()" type="submit" value="Search!"/>
	</form>
	<app-cake *ngIf="theCake" [theCake]="theCake" [avg]="avg"></app-cake>
</body>
</html>
<router-outlet></router-outlet>
