img{
    width: 100px;
    height: 100px;
}
#submit_box{

    display: inline-block;
    border: 2px solid black;
    padding: 20px;
}

#cakes_rate{
    width: 300px;
    height: 200px;
    overflow-y: scroll;
    display: inline-block;
    margin-left: 50px;
}
.each_cake{
    margin-bottom: 20px;
}
